[Unit]
Description=The Base Cas Auth Server
After=network.target

[Service]
Type=simple
User=thebase
Group=thebase
Environment="GIN_MODE=release"
WorkingDirectory=/opt/nginx_ui
ExecStart=/opt/nginx_ui/nginx_ui_linux -config /opt/nginx_ui/app.ini
StandardOutput=journal+console
StandardError=journal+console
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
